---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$raleway: 'Raleway', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #5a5a5a;
$background-color: #CAE1FF;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

.row {
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid white;
}

.page_number {
	font-size: $base-font-size * 2;
	margin-left: 20px;
	margin-right: 20px;
}

.read-more  {
	&:visited {
		color: $text-color;	
	}
	text-decoration: none;
	color: $text-color;
	&:hover {
		color: black;	
	}
}

.page-content {
	margin-top: 100px;
}

.article p {
	font-size: $base-font-size - 2;
	font-family: $raleway;
	text-indent: 2em;
}

.intro {
	font-size: $base-font-size - 2;
	font-family: $raleway;
}

#author {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	padding: 20px;
	display: inline-block;
	margin-top: -30px;
}

.blog-pic {
	float: right;
	padding: 20px;
	max-width: 300px;
	img {
		display: block;

	}
	h4 {
		text-align: center;
		max-width: 300px;
		color: #5a5a5a;
		font-family: $raleway;
		margin-top: 5px;
	}
}

.block {
  display: inline-block; }


.navbar-default {
    background: -webkit-linear-gradient(black, #5a5a5a);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #5a5a5a);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #5a5a5a);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #5a5a5a);
    /* Standard syntax (must be last) */
	border: none;
}

.navbar-default img {
    float: left;
    margin: 10px;
    display: inline-block; 
    }

.navbar-default li {
    font-size: 1.3em;
	margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;  
    }
	
.navbar-default .navbar-nav>li>a {
      color: white;
      text-decoration: none;
	  }
.navbar-default .navbar-nav>li>a:hover {
        color: gray;
	}

.dropdown-menu {

    background: -webkit-linear-gradient(#4a4a4a, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4a4a4a, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4a4a4a, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4a4a4a, black);
	border: none;
}

.dropdown-menu>li>a {
      color: white;
      text-decoration: none;
	  }
.dropdown-menu>li>a:hover {
        color: gray;
	}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: gray;
}
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background: none;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
