_drafts/
.sass-cache
.jekyll-metadata
*~
2014-01-01-template.markdown
2014-01-01-template.html
_archives/
.idea/
_posts/2016-09-06-college-football-week-one.markdown
_site/blog/sports/football/2016/09/
_site/img/houston.jpg
_site/img/royce-freeman.jpg
_site/img/taiyon-devers.jpg
img/houston.jpg
img/royce-freeman.jpg
img/taiyon-devers.jpg
