<header class="site-header">

  <div id="topbar" class="navbar-header" style="position: fixed; top: 0px;">
  		<button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><i class="fa fa-bars"></i></button>
  		<img src="/img/Bodie-Logo.gif" alt="Bodie Web Design" style="max-width: 150px; max-height: 150px;" class="img-responsive block">
  		<div id="navbar" class="navbar-collapse collapse">
  		<ul class="block">
  			<li class="block"><a href="http://bodiewebdesign.com">Home</a></li>
  			<li class="block"><a href="http://blog.bodiewebdesign.com">Blog</a></li>
  		</ul>
  		</div>
  </div>
</header>
